# Calculate the data statistics from image downloads

In [1]:
from types import SimpleNamespace
import argparse
import sys
import os

from calculate_data_stats import check_stats, setup_logger

In [34]:
if sys.platform.startswith("linux"):
    data_dir = "/bask/homes/f/fspo1218/amber/data/gbif_download_standalone/"
    project_dir = "/bask/homes/f/fspo1218/amber/projects/gbif_download_standalone"
elif sys.platform == "darwin":
    data_dir = "/Users/lbokeria/Documents/projects/gbif-species-trainer-data/"
    project_dir = "/Users/lbokeria/Documents/projects/gbif_download_standalone/"
else:
    print("Not linux or mac!")
    
checklist_name = "uksi-macro-moths-keys-nodup"

In [35]:
gbif_img_dir     =os.path.join(data_dir,"gbif_images")
print(gbif_img_dir)

/bask/homes/f/fspo1218/amber/data/gbif_download_standalone/gbif_images

In [36]:
args = SimpleNamespace(
    write_directory  =os.path.join(project_dir,"data_stats_files"),
    species_checklist=os.path.join(project_dir,"species_checklists",
                                   checklist_name+".csv"),
    gbif_img_dir     =os.path.join(data_dir,"gbif_images")
    
)

In [37]:
check_stats(args)

# Take a look at the file

In [33]:
import pandas as pd

data_stats = pd.read_csv(os.path.join(project_dir,"data_stats_files","data_stats_"+checklist_name+".csv"))

data_stats.head()

,accepted_taxon_key,order_name,family_name,genus_name,species_name_provided,authority_name_provided,search_species_name,gbif_species_name,confidence,status,match_type,rank,source,n_imgs
0,1860989,Lepidoptera,Adelidae,Adela,Adela ridingsella,NaN,Adela ridingsella,Adela ridingsella,99,ACCEPTED,EXACT,SPECIES,London03Nov2023,0
1,1751497,Lepidoptera,Megalopygidae,Trosia,Trosia semirufa,NaN,Trosia semirufa,Trosia semirufa,99,ACCEPTED,EXACT,SPECIES,London03Nov2023,0
2,1751509,Lepidoptera,Megalopygidae,Trosia,Trosia misda,NaN,Trosia misda,Trosia misda,99,ACCEPTED,EXACT,SPECIES,London03Nov2023,0
3,1751496,Lepidoptera,Megalopygidae,Trosia,Trosia incostata,NaN,Trosia incostata,Trosia incostata,99,ACCEPTED,EXACT,SPECIES,London03Nov2023,0
4,1751512,Lepidoptera,Megalopygidae,Trosia,Trosia fallax,NaN,Trosia fallax,Trosia fallax,99,ACCEPTED,EXACT,SPECIES,London03Nov2023,0