In [1]:
import pandas as pd
import os
import sys
import json

In [2]:
if sys.platform.startswith("linux"):
    data_dir = "/bask/projects/v/vjgo8416-amber/data/gbif_download_standalone/"
elif sys.platform == "darwin":
    data_dir = "/Users/lbokeria/Documents/projects/gbif-species-trainer-data/"
else:
    print("Not linux or mac!")

checklist_name = "uksi-moths-keys-nodup-small"

df = pd.read_csv(os.path.join("../species_checklists",checklist_name+".csv"))

In [3]:
df["n_imgs"] = ""
for idx, row in df.iterrows():
    
    family  = row["family_name"]
    genus   = row["genus_name"]
    species = row["gbif_species_name"]
    
    # Check if directory exists 
    species_dir = (
        os.path.join(data_dir,"gbif_images","tests",family,genus,species)
        )
    
    if os.path.isdir(species_dir):
        n_images_on_disk = len(
            [f for f in os.listdir(species_dir) if f.lower().endswith('.jpg') ]
            )
        # print(f"{species} Count files method has", n_images_on_disk, "images")
        
        # Load metadata
        try:
            
            with open(os.path.join(species_dir,"meta_data.json")) as file:
            
                meta_data = json.load(file)
            
            # Count the number of images for this species
            n_imgs_metadata = 0

            for key, value in meta_data.items():
                if value.get("image_is_downloaded") == True:
                    n_imgs_metadata += 1
            # print(f"{species} Count json metadata has", n_imgs_metadata, "images") 
            
            try:
                # 2nd way of counting images
                md2 = pd.read_json(
                    os.path.join(species_dir,"meta_data.json"), orient = 'index'
                    )
                
                if md2.empty:
                    md2_n_imgs_downloaded = 0
                else:
                    md2_n_imgs_downloaded = md2["image_is_downloaded"].sum()

                # print(f"{species} Count dataframe metadata has", md2_n_imgs_downloaded, "images")            

                if md2_n_imgs_downloaded != n_imgs_metadata:
                    print(f"Two ways of calculating metadata images don't match for {species_dir}")
            except Exception as e:
                print(e)
                print(f"{species} error counting dataframe way: {e}")
                        
            # Do n images match?
            if n_images_on_disk == n_imgs_metadata:
                # print(f"N images match for {species_dir}")
                pass
            else:
                print(
                    f"N images MISmatch. File count is {n_images_on_disk}, "
                    f"metadata has {n_imgs_metadata}, species: {species}"
                )
        except Exception as e:
            pass
            print(f"No metadata for {species_dir}")
            
    else:
        
        n_images_on_disk = 0
    
    # print(f"{species} has {n_images_on_disk} images")
    
    # Record this
    df.loc[idx, "n_imgs"] = n_images_on_disk

In [4]:
df

,accepted_taxon_key,order_name,family_name,genus_name,species_name_provided,authority_name_provided,search_species_name,gbif_species_name,confidence,status,match_type,rank,source,n_imgs
0,1940838,Lepidoptera,Sesiidae,Bembecia,Bembecia ichneumoniformis,"Denis & Schiffermüller, 1775",Bembecia ichneumoniformis,Bembecia ichneumoniformis,99,ACCEPTED,EXACT,SPECIES,London06October2023,100
1,1939879,Lepidoptera,Sesiidae,Paranthrene,Paranthrene tabaniformis,"Rottemburg, 1775",Paranthrene tabaniformis,Paranthrene tabaniformis,99,ACCEPTED,EXACT,SPECIES,London06October2023,100
2,1940807,Lepidoptera,Sesiidae,Pennisetia,Pennisetia hylaeiformis,"Laspeyres, 1801",Pennisetia hylaeiformis,Pennisetia hylaeiformis,99,ACCEPTED,EXACT,SPECIES,London06October2023,100
3,1940158,Lepidoptera,Sesiidae,Pyropteron,Pyropteron chrysidiformis,"Esper, 1782",Pyropteron chrysidiformis,Pyropteron chrysidiformis,99,ACCEPTED,EXACT,SPECIES,London06October2023,0
4,4525870,Lepidoptera,Sesiidae,Pyropteron,Pyropteron muscaeformis,"Esper, 1783",Pyropteron muscaeformis,Pyropteron muscaeformis,99,ACCEPTED,EXACT,SPECIES,London06October2023,20
5,5141493,Lepidoptera,Sesiidae,Sesia,Sesia apiformis,"Clerck, 1759",Sesia apiformis,Sesia apiformis,98,ACCEPTED,EXACT,SPECIES,London06October2023,100
6,5141501,Lepidoptera,Sesiidae,Sesia,Sesia bembeciformis,"Hübner, 1806",Sesia bembeciformis,Sesia bembeciformis,99,ACCEPTED,EXACT,SPECIES,London06October2023,100
7,1940717,Lepidoptera,Sesiidae,Synanthedon,Synanthedon andrenaeformis,"Laspeyres, 1801",Synanthedon andrenaeformis,Synanthedon andrenaeformis,99,ACCEPTED,EXACT,SPECIES,London06October2023,73
8,1940744,Lepidoptera,Sesiidae,Synanthedon,Synanthedon culiciformis,"Linnaeus, 1758",Synanthedon culiciformis,Synanthedon culiciformis,99,ACCEPTED,EXACT,SPECIES,London06October2023,100
9,1940598,Lepidoptera,Sesiidae,Synanthedon,Synanthedon flaviventris,"Staudinger, 1883",Synanthedon flaviventris,Synanthedon flaviventris,99,ACCEPTED,EXACT,SPECIES,London06October2023,39
10,1940510,Lepidoptera,Sesiidae,Synanthedon,Synanthedon formicaeformis,"Esper, 1782",Synanthedon formicaeformis,Synanthedon formicaeformis,99,ACCEPTED,EXACT,SPECIES,London06October2023,100
11,4525777,Lepidoptera,Sesiidae,Synanthedon,Synanthedon myopaeformis,"Borkhausen, 1789",Synanthedon myopaeformis,Synanthedon myopaeformis,99,ACCEPTED,EXACT,SPECIES,London06October2023,100
12,1940639,Lepidoptera,Sesiidae,Synanthedon,Synanthedon scoliaeformis,"Borkhausen, 1789",Synanthedon scoliaeformis,Synanthedon scoliaeformis,99,ACCEPTED,EXACT,SPECIES,London06October2023,100
13,1940768,Lepidoptera,Sesiidae,Synanthedon,Synanthedon spheciformis,"Denis & Schiffermüller, 1775",Synanthedon spheciformis,Synanthedon spheciformis,99,ACCEPTED,EXACT,SPECIES,London06October2023,100
14,1940575,Lepidoptera,Sesiidae,Synanthedon,Synanthedon tipuliformis,"Clerck, 1759",Synanthedon tipuliformis,Synanthedon tipuliformis,99,ACCEPTED,EXACT,SPECIES,London06October2023,100
15,1940644,Lepidoptera,Sesiidae,Synanthedon,Synanthedon vespiformis,"Linnaeus, 1761",Synanthedon vespiformis,Synanthedon vespiformis,99,ACCEPTED,EXACT,SPECIES,London06October2023,100

In [ ]:
species_dir = "/bask/homes/r/rybf4168/vjgo8416-amber/data/gbif_download_standalone/gbif_images/tests/Adelidae/Nemophora/Nemophora aurisparsella"

with open(os.path.join(species_dir,"meta_data.json")) as file:

    meta_data = json.load(file)

meta_data

In [ ]:
a = pd.read_json(os.path.join(species_dir,"meta_data.json"), orient='index')
a.empty

In [ ]:
# Save the df
df.to_csv(os.path.join("../data_stats_files/","data_stats_"+checklist_name+".csv"))